<!DOCTYPE htmlL>
<html>
  <head>
    <title>Pets In Hats</title>
  </head>
  <body>
    <h1>Get Ready to see an animal wearing a hat!!</h1>
  </body>
  <form method = "POST">
    <h4> Choose an Animal!</h4>
    <br>
    <input type = "radio" name="user_animal" value ="dog">Dog
    <br>
    <input type = "radio" name="user_animal" value ="cat">Cat
    <h4> Choose A Hat!</h4>
    <br>
     <input type = "radio" name="user_hat" value ="party hat">Party Hat
     <br>
      <input type = "radio" name="user_hat" value ="sombrero">Sombrero
      <br>
       <input type = "radio" name="user_hat" value ="beanie">Beanie
       <input type ="submit" value="Show me the animal in a cute hat!">
       </form>
  #we need an iption for the pets (dog, cat)
  #we need another option for hat type(party hat, sombrero, beanie)
</html>